button {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    margin-right: 16px;
    cursor: pointer;
  }
  
  #amarelo {
    background-color: yellow;
  }
  
  #verde {
    background-color: green;
    color: white;
  }
  
  #vermelho {
    background-color: red;
    color: white;
  }
  