body{
    background-color: black  ;
      
}


p, h1, h2, h3{
    color: aliceblue;
}
.imagem{
    

    float:left;    
    width: 500px;
    margin-left: 10%;
  }
  
 #imagem img{
    width: 100%;
  }

  img {
    height: 200px;
    width: auto;

    border-radius: 3% ;
  
}   

p{
    font-size: 19px;
}

h2, h3 {
    font-size: 24px;
}





.sobre h1{
    color: green;

}
h1{
    color: fff;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.sobre, .time,.time2, .pilares,.menu, .imagem {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre, .time,.time2, .pilares, .imagem p{
    font-size: 50px;


}
.sobre, .time,.time2, .pilares, .imagem h1, h2,h3{
    font-size: 20px;


}

.imagem p {
    font-size: medium;
}
.imagem h1{
    font-size: 30px;
}

.pilares h1{
    color: green;

}



#menu {
    background-color: black;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#menu li {
 
	display: inline-block;	
    padding: 1px 20px;

    
}
#menu img{
float: left;
height: 60px;

}


#menu li a {
    display: block;
	color: #FFF;
	font-size: 20px;
	padding: 14px 16px;
	font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#menu li a:hover{
    background-color: green;
} 

.membro{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.membro{
    color: #FFF;
}


.sobre, .pilares{
    text-align: center;
}
#sobre{
    padding: 5px;
}



.time{
    display: inline-block;



    padding: 20px;
    flex-wrap: wrap;
}


.imagem img {
	margin: 10px;
	max-width: 300px;
	max-height: 250px;
	border: 2px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}
#loja {
    padding: 50px 0;
    

  }
  
  .produtos {
    display: flex;
    
    flex-wrap: wrap;
  }
  
  .produto {
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .produto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .produto h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  

  .produto .preco {
    font-size: 1.;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .produto button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .produto button:hover {
    background-color: #0069d9;
  }
  


  

  


.half-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #181717;
  }
  
  .text-half {
    width: 50%;
  }
  
.text-half p{
    font-size: 24px;
}
.text-half h1{
    font-size: 40px;
}

  .image-half {
    width: 50%;
  }
  
  .image-half img {
    max-width: 100%;
    height: auto;
    padding-left: 25px;
  }





.product-container {
    display: flex;
    justify-content: space-between;
  }
  
  .product {
    width: 100%;
    text-align: center;
    height: 90%;
  }
  
  .loja{
    background-color: #28292b;
  }
.loja h1{
    font-size: 50px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
  }
    
  
  .product-container {
    display: flex;
    justify-content: space-between;
  }
  
  .product {
    width: 30%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  

  .times{
    background-color: #000000;
  }
.times h1{
    font-size: 50px;
    text-align: center;
}


    
  
  .times-container {
    display: flex;
 
  }
  
  .time {

    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time img {
    float: left;
    width: 50%;
    height: auto;
  }
  .time2 {

    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time2 img {
    float: left;
    width: 45%;
    height: auto;
  }





  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    background-color: #28292b;
    padding-bottom: 20px;
  }
  
  .image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .image:hover img {
    transform: scale(1.1);
  }
  
  h1{
    color: green;
    text-align: center;

  }
  .membro{
    text-align: center;
  }

  footer {
	background-color:green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #fff;
	padding: 1;
	text-align: center;
}

#menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#lookbook {
    padding: 50px 0;
    background-color: #000000;

  }
  
  .look {
    display: flex;
    
    flex-wrap: wrap;
  }
  
  .look {
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .look img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }


  

  








.look-container {
    display: flex;
    justify-content: space-between;
  }
  
  .look {
    width: 100%;
    text-align: center;
    height: 90%;
  }
  
  .look{
    background-color: #28292b;
  }


.look img {
    width: 100%;
    height: auto;
  }
    
  
  .look-container {
    display: flex;
    justify-content: space-between;
  }
  
  .look {
    width: 30%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .look img {
    width: 100%;
    height: auto;
  }



.product img{
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}