.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery img {
	margin: 10px;
	max-width: 300px;
	max-height: 250px;
	border: 2px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888888;
}

figure{
	text-align: center;
	border: 3px black;
	border-style: dashed;
	margin: 5px;
}

figcaption{
	text-shadow: 0px 0px 10px #888888;
	font-weight: bold;
}

figure:hover{
	font-size: 18px;
}
